<!DOCTYPE HTML>
<html>
    <head>
    <meta charset="utf-8">
    <title>Тег CODE</title>
    <link rel="stylesheet" href="/css/styles.css">
    </head>  
    
    <body> 
        <form action="/change-password" method="POST">
            <div class="change-password">
                <input type="password" placeholder="Old password" id="old-password" name="oldPassword">  
                <input type="password" placeholder="New password" id="new-password" name="newPassword">  
                <input type="password" placeholder="Confirm new password" id="password" name="confirmedNewPassword">  
                <input type="submit" value="Change password">
            </div>
            <div class="shadow"></div>
        </form>
    </body>
</html>
