<!DOCTYPE HTML>
<html>
    <head>
    <meta charset="utf-8">
    <title>Тег CODE</title>
    <link rel="stylesheet" href="/css/styles.css">
    </head>  
    
    <body> 
        <form action="/login" method="POST">
            <div class="login">
                <input type="text" placeholder="Email" id="email">  
                <input type="password" placeholder="Password" id="password">  
                <a href="#" class="forgot">forgot password?</a>
                <input type="submit" value="Sign In">
            </div>
            <div class="shadow"></div>
        </form>
    </body>
</html>


